/* /GenericComponents/EmailFormComponent.razor.rz.scp.css */
.emailform[b-mwphksso9r] {
	background: transparent;
}


.btn-primary[b-mwphksso9r] {
	margin: 10px;
    background: rgba(0, 123, 255, 0.3);
    border: 1px solid rgba(0, 123, 255, 0.5);
    color: #fff;
	align-self: center;
}
/* /GenericComponents/FeedbackModal.razor.rz.scp.css */
.modal-overlay[b-b5yyplmwob] {
    position: fixed;
  /*  top: 0; left: 0;
 /*   width: 100%; height: 100%; */
    background: rgba(0,0,0,0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content[b-b5yyplmwob] {
    background: blue;
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    width: 400px;
    animation: fadeIn-b-b5yyplmwob 0.6s ease-in-out;
/*	left: 0%;*/
	transition: box-shadow 0.3s ease-in-out;	
	font-size: 2.2rem;
}
.modal-content h4[b-b5yyplmwob] {
	font-size: 40px;
}
.modal-content p[b-b5yyplmwob] {
	color: white;
}
.modal-content:hover[b-b5yyplmwob] {
	background-color: navy;
	transform: scale(1.05);
	transition: all 0.3s ease-in-out;
	box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
}

.fade-out[b-b5yyplmwob] {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

@keyframes fadeIn-b-b5yyplmwob {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}


@media screen and (max-width: 600px) {
	.modal-content[b-b5yyplmwob] {
		left: 0%;
		width: 300px;
	}
}
/* /GenericComponents/modal.razor.rz.scp.css */
/* Glassmorphic Modal Styling */
.modal-content[b-duxntjv6q8] {
    background: rgba(255, 255, 255, 0.1); /* translucent white */
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
	max-width: 500px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    color: #fff;
    transition: all 0.3s ease-in-out;
	z-index: 1055;
}
.modal[b-duxntjv6q8] {
      position: fixed;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  max-width: 500px;
}

.modal.fade.show.d-block[b-duxntjv6q8]{
	overflow-y: auto;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE 10+ */
/*	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);*/
	z-index: 1050; /* Make sure it’s above other content */
	max-width: 500px;

}

.modal.fade.show.d-block[b-duxntjv6q8]::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
 

/* Header and Footer */
.modal-header[b-duxntjv6q8], .modal-footer[b-duxntjv6q8] {
    border: none;
    background-color: transparent;
}

/* Title Styling */
.modal-title[b-duxntjv6q8] {
    font-weight: 600;
    font-size: 1.25rem;
    color: #ffffff;
    text-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

/* Button Styling */
.modal-footer .btn[b-duxntjv6q8] {
    border-radius: 8px;
    padding: 0.5rem 1.25rem;
    font-weight: 500;
    transition: background 0.3s ease;
}

.btn-primary[b-duxntjv6q8] {
    background: rgba(0, 123, 255, 0.3);
    border: 1px solid rgba(0, 123, 255, 0.5);
    color: #fff;
}

.btn-secondary[b-duxntjv6q8] {
    background: rgba(108, 117, 125, 0.3);
    border: 1px solid rgba(108, 117, 125, 0.5);
    color: #fff;
}

.btn:hover[b-duxntjv6q8] {
    background: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.4);
}

/* Close Button */
.close span[b-duxntjv6q8] {
    color: #fff;
    font-size: 1.5rem;
    text-shadow: 0 1px 2px rgba(0,0,0,0.3);
}
.modal-inner-wrapper[b-duxntjv6q8] {
	
}



.modal.fade.show .modal-inner-wrapper[b-duxntjv6q8]{
    animation: modalPop-b-duxntjv6q8 0.4s ease-out forwards;
}

@keyframes modalPop-b-duxntjv6q8 {
    50% {
        opacity: 0.5;
        transform: scale(0.95) translateY(20px);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

@media (max-width: 600px) {
  .modal-content[b-duxntjv6q8] {
    width: 90%;
   /* margin: 1rem auto; */
    padding: 0.3rem;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  }

  .modal-title[b-duxntjv6q8] {
    font-size: 1rem;
    text-align: center;
  }
/*
  .modal-footer .btn {
    width: 100%;
    margin-top: 0.5rem;
  }
*/
  .close span[b-duxntjv6q8] {
    font-size: 1.25rem;
  }
}
/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-vf4pllc1qn] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-vf4pllc1qn] {
    flex: 1;
}

html[b-vf4pllc1qn] {
  scroll-behavior: smooth;
  font-size: 62.5%; 
}


.navmenu[b-vf4pllc1qn] {
  width: 100%;
  background-color: #0f2027;
  padding: 1rem 0rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navmenu nav[b-vf4pllc1qn] {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navmenu a[b-vf4pllc1qn] {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}


.navmenu ul[b-vf4pllc1qn] {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 20px;
}

.navmenu a:hover[b-vf4pllc1qn] {
  color: #00bcd4;
}

.nav-header[b-vf4pllc1qn] {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
  z-index:1000;
}

.nav-links[b-vf4pllc1qn] {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  padding-left: 2rem;
   transition: opacity 0.3s ease;
  opacity: 1;
}

.nav-links li a[b-vf4pllc1qn] {
  color: white;
  text-decoration: none;
 
}

.logo[b-vf4pllc1qn] {
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

.menu-toggle[b-vf4pllc1qn] {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  z-index: 1000;
}


.sidebar[b-vf4pllc1qn] {
    background:  transparent;
	border: 1px solid rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(2px);
}

.top-row[b-vf4pllc1qn] {
	position: fixed;
    background-color:  #0f2027;
	backdrop-filter: blur(0px);
    border-bottom: 1px solid #d6d5d5;
    justify-content: space-center;
    height: auto;
	min-height: 3.5rem;
    display: flex;
    align-items: center;
	padding: 0 1rem;
	 z-index: 100;
	
}

    .top-row[b-vf4pllc1qn]  a, .top-row[b-vf4pllc1qn]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-vf4pllc1qn]  a:hover, .top-row[b-vf4pllc1qn]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-vf4pllc1qn]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }


/*mobile styles 8*/
@media (max-width: 640.98px) {
    .top-row[b-vf4pllc1qn] {
		position: sticky;
	    top: 0;
	    left: 0;
        width: 100%;
        z-index: 1000;
        justify-content: space-between;
    }
	
	.nav-header[b-vf4pllc1qn] {
	
    flex-direction: row;
    justify-content: space-between;
  }
  .navmenu[b-vf4pllc1qn] {
	  position: fixed;
	  top: 0;
	  left: 0;
	  width: 100%;
	  z-index: 1000;
      box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  }
	
    .top-row[b-vf4pllc1qn]  a, .top-row[b-vf4pllc1qn]  .btn-link {
        margin-left: 0;
		padding: 0px;
    }
	
   .mobileView[b-vf4pllc1qn] {
	   font-size: 1.1rem;	   
   }
	
	.menu-toggle[b-vf4pllc1qn] {
    font-size: 2rem;
    display: block;
	 z-index: 1000;
  }
   .logo[b-vf4pllc1qn] {
    font-size: 1.2rem;
  }

  .nav-links[b-vf4pllc1qn] {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #203a43;
    padding: 1rem;
    border-radius: 8px;
	padding: 2rem;
	transition: opacity 0.3s ease;
	opacity: 1;
  }
  
.nav-links.closed[b-vf4pllc1qn] {
  opacity: 0;
  pointer-events: none;
}
  
   .nav-links.closed[b-vf4pllc1qn] {
  opacity: 0;
  pointer-events: none;
}
	
.nav-links.open[b-vf4pllc1qn] {
display: none;
}

  main[b-vf4pllc1qn] {
    padding-bottom:6rem; /*top padding to prevent content hiding behind nav */
  }
	
}

@media (min-width: 641px) {
    .page[b-vf4pllc1qn] {
        flex-direction: row;
    }

    .sidebar[b-vf4pllc1qn] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-vf4pllc1qn] {
		/*position: fixed;*/
	   
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-vf4pllc1qn]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-vf4pllc1qn], article[b-vf4pllc1qn] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }	
		
	.nav-links.closed[b-vf4pllc1qn] {
	  opacity: 0;
	  pointer-events: none;
	}
	
	.nav-links[b-vf4pllc1qn] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
	padding: 2rem;
	transition: opacity 0.3s ease;
    opacity: 1;
  }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-b2hc94o34d] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-b2hc94o34d] {
    height: 3.5rem;
    background-color: rgba(255,255,255,0.4);
	.top-row {
	  background-color: transparent;
	  backdrop-filter: blur(8px);
	  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	  position: fixed;
	  width: 100%;
	  z-index: 1000;
}
}

.navbar-brand[b-b2hc94o34d] {
    font-size: 1.1rem;
}

.bi[b-b2hc94o34d] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-b2hc94o34d] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-b2hc94o34d] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-b2hc94o34d] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-b2hc94o34d] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-b2hc94o34d] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-b2hc94o34d] {
        padding-bottom: 1rem;
    }

    .nav-item[b-b2hc94o34d]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-b2hc94o34d]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-b2hc94o34d]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-b2hc94o34d] {
        display: none;
    }

    .collapse[b-b2hc94o34d] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-b2hc94o34d] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
		
  background: transparent;
  background-size: 400% 400%;
  animation: gradientShift 10s ease infinite;
  padding-top: 30px; /* To avoid overlap with top-row */
  backdrop-filter: blur(6px);

    }
}
/* /Pages/ContactMe.razor.rz.scp.css */
.myContactPage[b-vkfu67gh8m] {
	left: 0;	
	padding: 1rem;	
    z-index: 1;	
}

.card:hover[b-vkfu67gh8m]
 {
	background: #009e7e;
	transform: scale(1.15);
}

.contact-hero[b-vkfu67gh8m] {
  width : 100%;
  text-align: center;
  padding: 4rem 2rem;
  /*background: linear-gradient(to right, #741de1, #203a43, #2c5364);*/
  background: linear-gradient(to right, rgba(116, 29, 225, 0.6), rgba(32, 58, 67, 0.6), rgba(44, 83, 100, 0.6));

  color: white;
  backdrop-filter: blur(6px);
  border-radius: 12px;  
  border: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 1;
}

.contact-grid[b-vkfu67gh8m] {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding-top: 2rem;
}

.contact-container[b-vkfu67gh8m] {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0rem;
  gap: 2rem;  
  width: 100%;
  background-color: rgba(116, 29, 225, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
}

.text-muted[b-vkfu67gh8m] {
    --bs-text-opacity: 1;
    color: #6ceaaa !important;
}

	
.inviteMsg[b-vkfu67gh8m] {	
	position: relative;
	display: flex;
	align-self: flex-start;
	padding: 1rem;
	border-radius: 12px;	
    width: 100%;
	/*min-width: 24rem;	*/
	height: auto;

    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp-b-vkfu67gh8m 0.8s ease forwards;
	
}


.card[b-vkfu67gh8m],
.btns[b-vkfu67gh8m],
.inviteMsg[b-vkfu67gh8m] {
  transition: transform 0.3s ease, background 0.3s ease;
  border-radius: 12px;
  
}


.card[b-vkfu67gh8m] {
	display:flex;
	flex-wrap:wrap;
	align-self: center;	
	color: white;
	backdrop-filter: blur(2px);
	background-color: rgba(32, 58, 67, 0.6);
	border: 1px solid rgba(255, 255, 255, 0.2);
	width: 100%;	
}

.card-text p1[b-vkfu67gh8m]{
	
	margin-top: 0;
    /* margin-bottom: 1rem; */
    color: gold;
}
.text-muted[b-vkfu67gh8m] {
    --bs-text-opacity: 1;
    color: #6ceaaa !important;
}

.contact-card[b-vkfu67gh8m] {
  background: #f9f9f9;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.contact-links[b-vkfu67gh8m] {
  display: flex;
  position: relative;	
  justify-content: space-around;		
  align-items: center;
  margin-top: 2rem;
  z-index: 1000;
}

.modal[b-vkfu67gh8m] {
  opacity: 0;
 /* transform: translateY(20px);*/
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1050; /* Make sure it’s above other content */
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  opacity: 0;  
  max-width: 540px;
  height: auto;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.modal-backdrop[b-vkfu67gh8m] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* dim effect */
    z-index: 998;
}
.emailbtn[b-vkfu67gh8m] {
	position: fixed;
	
}

.btns[b-vkfu67gh8m], .emailbtn[b-vkfu67gh8m] {
  display: inline-block;
  margin: 0.5rem;
  padding: 0.75rem 1.5rem;
  background: #0078D7;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.btns:hover[b-vkfu67gh8m] {
  background: #005fa3;
  transform: scale(1.15);
}



@keyframes fadeInUp-b-vkfu67gh8m {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.inviteMsg:hover[b-vkfu67gh8m] {		 
        background: rgba(116, 29, 225, 0.6);
        transform: scale(1.25);
		z-index: 200;
 }


.inviteMsg p[b-vkfu67gh8m]{
	font-weight: bold;
	font-size: 1rem;
	color: black;
}

.inviteMsg p1[b-vkfu67gh8m]{
	font-weight: bold;
	font-size: 1.4rem;
	color: blue;
}


.btn-linkedin[b-vkfu67gh8m] {
  display: inline-flex;
  align-items: center;
  padding: 0.75rem 1.25rem;
  background-color: #0077B5;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.btn-linkedin:hover[b-vkfu67gh8m] {
  background-color: #005fa3;
}

.icon[b-vkfu67gh8m] {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.contact-info[b-vkfu67gh8m] {
  width: 100%;
}

.contact-image[b-vkfu67gh8m] {
  align-self: flex-end;
}

.contact-image img[b-vkfu67gh8m] {
  max-width: 200px;
  height: auto;
}


@media (max-width: 600px) {
  .contact-grid[b-vkfu67gh8m] {
	display: flex;
	flex-wrap: wrap;
    align-items: center;
    
	padding-top: 1rem;
  }
  
.contact-links[b-vkfu67gh8m] {
  display: flex;
  flex-direction: column;
}
  
  
  .contact-container[b-vkfu67gh8m] {
	width: 100%;
 /*   padding: 1rem;*/
	
  }

	
  .card-body[b-vkfu67gh8m] {
  /*  padding: 1rem;*/
    font-size: 0.9rem;
  }
	
  .inviteMsg[b-vkfu67gh8m] {
    padding: 1rem; 
	width: 100%;
	flex-wrap: wrap;
    font-size: 0.9rem;
  }
  
  .contact-hero[b-vkfu67gh8m] {
	padding: 1rem;
	font-size: 0.9rem;
  }
  
   .contact-hero h1[b-vkfu67gh8m]{
	   font-size: clamp(1.5rem, 5vw, 2.5rem);
	   text-align: left
   }
    .contact-hero h2[b-vkfu67gh8m]{
	   font-size: 1.2rem;
	   text-align: right;
   }
    .contact-hero p[b-vkfu67gh8m]{
	   font-size: 0.8rem;
	   text-align:left;
   }
}
/* /Pages/Home.Razor.rz.scp.css */
.introduction[b-kkcnwxnzir], .mission[b-kkcnwxnzir]
{
	position: relative; 
	padding: 1rem;
    z-index: 0;	
	color: #741de1;
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	margin-bottom: 2rem;		
	overflow: visible;	
	display: flex;
	flex-direction: row;
	backdrop-filter: blur(0px);
}

.mission[b-kkcnwxnzir] {
	background: #222;
}


.imgContainer[b-kkcnwxnzir] {
	width: 50%;
	height: auto;
	max-width: 600px;
}

.imgContainer img[b-kkcnwxnzir] {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  max-width: 600px; /* Optional: limits how large the image can grow */
  border-radius: 12px; /* Keeps your visual style */

}
.mission .imgContainer img[b-kkcnwxnzir] {
	width: 600px;
}

.flex-container .motto[b-kkcnwxnzir] {
  font-size: clamp(1.1rem, 4vw, 2.1rem);
  max-width: 100%;
  background-color: transparent; /*rgba(222,222,222, 0.4);*/
  align-self: center;
  text-align: left;
  backdrop-filter: blur(2px);
  border-radius: 18px;  
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding : 1rem;
  gap: 2rem;
  color: #fff;
  font-size: 1.6rem;
  font-family: Monoton;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate; 
}

.flex-container .motto p[b-kkcnwxnzir]{
	/*color: #fff;
  font-family: Monoton;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate; */
}

		.flex-container .list motto:hover[b-kkcnwxnzir] {
		  color: #00ffff;
		  transition: color 0.3s ease;
		}


.textContainer[b-kkcnwxnzir] {
	padding: 1rem; 
	display: flex;
	flex-direction: column;
	border-radius: 12px; 	
	width: 50%;
}

.textContainer  div1[b-kkcnwxnzir] {
	color: #00c6ff;
	font-weight: 600;
	
}
.textContainer h3[b-kkcnwxnzir] {	
	margin-top: 0.6rem;
	text-align: center;
	color:  #741de1; 	
	font-size: clamp(1.6rem, 4vw, 2.9rem);
	padding: 1rem;
	flex-wrap: wrap;
}


.textContainer p[b-kkcnwxnzir] {	
	margin-top: 0.6rem;
	color: #00c6ff ; 	
	font-size: 1.1rem;
	flex-wrap: wrap;
}

.textContainer .highlight[b-kkcnwxnzir] {
  color: #00c6ff; /* Bright magenta for contrast */
  font-weight: bold;
   /* Optional: adds a dark background */
  padding: 0 4px;

  color: #fff;
  font-family: Monoton;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
 
}
.flex-container[b-kkcnwxnzir] {
  display: flex;    
  flex-direction: column;
  background-color: transparent;
  backdrop-filter: blur(2px);
  border-radius: 12px;  
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: 50px auto;
  padding: 1rem;
  color:  #741de1;
}
/*
.flex-container p{
	color: white;
	font-size:  1.1rem;
	text-align: left;
}
*/
.flex-container h2[b-kkcnwxnzir] {
	font-size: clamp(2.1rem, 4vw, 3.4rem);
    font-weight: 600;       
	margin-bottom: 10px;
	color: #00c6ff;	
	text-align: center;
}

.flex-container  .list[b-kkcnwxnzir]{  
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  background: transparent;
  padding: 1rem;
  gap: 1.5rem;
  font-size: clamp(1.1rem, 4vw, 2.1rem);
  max-width: 100%;
  text-align: left;
}

.flex-container .list img[b-kkcnwxnzir] {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
	.list img:hover[b-kkcnwxnzir] {
	  transform: scale(1.05);
	  transition: transform 0.3s ease;
	  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
	}

	.flex-container  .list > ul[b-kkcnwxnzir]{
	  list-style: none;
	  padding: 0;
	  margin: 0;
	}


	
	.flex-container .list li[b-kkcnwxnzir] {
	  font-size: 1.1rem;
	  opacity: 0;
	  transform: translateY(10px);
	  animation: fadeInUp-b-kkcnwxnzir 0.6s ease forwards;
	  animation-delay: calc(var(--i) * 0.2s);
	}

	@keyframes fadeInUp-b-kkcnwxnzir {
	  to {
		opacity: 1;
		transform: translateY(0);
	  }
	}



	.flex-container  .list > li[b-kkcnwxnzir]{	
	   margin-bottom: 0.5rem;
	 ` font-size: clamp(2.8rem, 4vw, 3.8rem); 
	  `text-align: left;
	}
	
		.flex-container .list li:hover[b-kkcnwxnzir] {
		  color: #00ffff;
		  transition: color 0.3s ease;
		}
		
		

.flex-container[b-kkcnwxnzir] >  {
  align-self: flex-end;
}


.flex-container > div2[b-kkcnwxnzir]{
  width: 60%;
  margin: 10px;
  padding: 1rem;
  text-align: left;
  line-height: auto;
  font-size: 30px;
  backdrop-filter: blur(1px);
  border-radius: 18px;  
  border: 1px solid rgba(255, 255, 255, 0.2);
}
	
.btnContainer[b-kkcnwxnzir] {
  display: flex;
  flex-direction: row;
  flex: 1;
  text-align: center;
  width: 100%;
  gap: 5rem;
 /* background-color: dodgerblue;*/  
   justify-content: space-between;
  padding-left: 24rem; 
  align-self: center;  
  font-size: 1.1rem;
  
}

.btnContainer p[b-kkcnwxnzir]{
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
 
}

.btnspace[b-kkcnwxnzir] {
	gap : 34rem;
}

.aboutMe[b-kkcnwxnzir] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 2rem;
    border-radius: 12px;    
	border: 1px solid rgba(255, 255, 255, 0.2);
	background: rgba(255, 255, 255, 0.05); 
  /*  background: linear-gradient(to right, #121212, #1f1f1f);*/
	backdrop-filter: blur(4px);
    color: #f9f9f9;
    box-shadow: 0 8px 24px rgba(0,0,0,0.5);
    font-family: 'Segoe UI', sans-serif;
    max-width: 100%;
    margin: 50px auto;
}

.aboutMe .bio[b-kkcnwxnzir] {
  flex: 1
}

.aboutMe .bio > divabout[b-kkcnwxnzir]  {
  max-width: 50%;
  align-self: center;
  gap: 2rem;
  padding: 2rem;
}

.aboutMe .bio .greet img[b-kkcnwxnzir] {
	align-self: flex-end;
    width: 33%;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.6);
    transition: transform 0.3s ease-in-out;
}

    .aboutMe bio img:hover[b-kkcnwxnzir] {
        transform: scale(1.03);
    }

    .aboutMe .bio h2[b-kkcnwxnzir] {
		
	  font-size: clamp(1.5rem, 4vw, 2.5rem);
	  font-weight: 600;       
        margin-bottom: 10px;
        color: #00c6ff;        
    }

    .aboutMe .bio p[b-kkcnwxnzir] {
        font-size: 1.1rem;
        line-height: 1.6;
        color: #cccccc;
		text-align: center;
    }

.aboutMe .btn[b-kkcnwxnzir] 
 {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #00c896;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s ease;
    transition: transform 0.3s ease;
	max-width: 200px;
}

    .aboutMe .btn:hover[b-kkcnwxnzir] {
        background: #009e7e;
        transform: scale(1.05);
    }


@media (max-width: 600px) {

.introduction[b-kkcnwxnzir], .mission[b-kkcnwxnzir]
{
	flex-direction: column;
}
.textContainer[b-kkcnwxnzir], .imgContainer[b-kkcnwxnzir]{
	width: 100%;
}

.hero-section[b-kkcnwxnzir] {
	margin-top: 3rem;
}
.btnContainer[b-kkcnwxnzir] {
	display: flex;  
	justify-content: space-between;
	padding-left: 4rem;
	font-size: 1.1rem;  
}

.flex-container > div2[b-kkcnwxnzir], div1[b-kkcnwxnzir] {
  width: 100%;
  max-width: 600px;
}

.flex-container .list img[b-kkcnwxnzir] {
	  height: auto;
	  border-radius: 8px;
	  
	} 

.flex-container > motto[b-kkcnwxnzir] {
  font-size: clamp(1.1rem, 4vw, 2.1rem);
  max-width: 100%;
}

  .aboutMe[b-kkcnwxnzir] {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 20px;
  }

  .aboutMe img[b-kkcnwxnzir] {
    width: 100%;
    max-width: 300px;
  }

 .aboutMe .bio[b-kkcnwxnzir] {
    width: 100%;
    max-width: 90%;
    text-align: center;
  }

  .aboutMe .bio h2[b-kkcnwxnzir] {
    font-size: 1.5rem;
  }

  .aboutMe .bio p[b-kkcnwxnzir] {
    font-size: clamp(1rem, 2vw, 1.2rem);

    line-height: 1.5;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  
  .aboutMe .btn[b-kkcnwxnzir] 
 {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #00c896;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s ease;
    transition: transform 0.3s ease;
	max-width: 200px;
}

    .aboutMe .btn:hover[b-kkcnwxnzir] {
        background: #009e7e;
        transform: scale(1.05);
    }
	
	  .list[b-kkcnwxnzir] {
		flex-direction: column;
		align-items: flex-start;
	  }

	  .list img[b-kkcnwxnzir] {
		max-width: 100%;
	  }
}

/* /Pages/Services.razor.rz.scp.css */

.myServicesPage[b-x28k3myjfn], .desktop[b-x28k3myjfn], .webApps[b-x28k3myjfn], .mobileApps[b-x28k3myjfn] {
	position: relative; 
	padding: 1rem;
    z-index: 0;	
	color: #741de1;
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	margin-bottom: 2rem;		
	overflow: visible;
}

.myServicesPage[b-x28k3myjfn] {		
	display: flex;
	flex-direction: column;
	flex-wrap: column; 	
	background: black;
	backdrop-filter: blur(0px);	
}

.myServicesPage h2[b-x28k3myjfn]{
	font-size: 3.0rem;
}

.desktop[b-x28k3myjfn] {
	
	background: #222;
	display: flex;
	flex-direction: row;
	backdrop-filter: blur(0px);
}

.webApps[b-x28k3myjfn] {	
	display: flex;
	flex-direction: row;
	backdrop-filter: blur(0px);
	
}

.mobileApps[b-x28k3myjfn] {
	
	background: #222;
	display: flex;
	flex-direction: row;
	backdrop-filter: blur(0px);
}


.imgContainer[b-x28k3myjfn] {
	width: 50%;
	height: auto;
	max-width: 600px;
}

.imgContainer img[b-x28k3myjfn] {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  max-width: 600px; /* Optional: limits how large the image can grow */
  border-radius: 12px; /* Keeps your visual style */
}

.textContainer[b-x28k3myjfn] {
	padding: 1rem; 
	display: flex;
	flex-direction: column;
	border-radius: 12px; 	
	width: 50%;
}
.textContainer h3[b-x28k3myjfn] {	
	margin-top: 0.6rem;
	text-align: center;
	color:  #741de1; 	
	font-size: 1.4rem
	padding: 1rem;
	flex-wrap: wrap;
}


.textContainer p[b-x28k3myjfn] {	
	margin-top: 0.6rem;
	color:  #0eff00; 	
	font-size: 1.1rem
	flex-wrap: wrap;
}

i[b-x28k3myjfn] {	
	margin-top: 0.6rem;
	color: white;
	font-size: 0.9rem;
	flex-wrap: wrap;
}



.textContainer h3:hover[b-x28k3myjfn], i:hover[b-x28k3myjfn], p:hover[b-x28k3myjfn], h2:hover[b-x28k3myjfn],
 h1:hover[b-x28k3myjfn] {
	transform: scale(1.04);
	background: #222;
	border-radius: 12px;	
}

.textContainer:hover[b-x28k3myjfn] {
	transform: scale(1.04);
	/*background:#867e8c;*/
}

/* Base styles */
.cta-trigger[b-x28k3myjfn] {
  background-color: #0077cc;
  color: white;
  padding: 0.75em 1.5em;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

/* Modal container */
.cta-modal[b-x28k3myjfn] {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  width: 90%;
  height: auto;
  max-height: 90vh;
  overflow-y: auto;
  background: white;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding: 1rem;
}

/* Modal content */
.cta-content[b-x28k3myjfn] {
  /*background: #fff; */
  padding: 0.1em;
/*  border-radius: 10px; */
  max-width: 500px;
  width: 90%;
  text-align: center;
 /* box-shadow: 0 0 20px rgba(0,0,0,0.2);*/
}

/* CTA button inside modal */
.cta-button[b-x28k3myjfn] {
  background-color: #28a745;
  color: white;
  padding: 0.75em 1.5em;
  border-radius: 6px;
  text-decoration: none;
  display: inline-block;
  margin-top: 1em;
}

/* Close button */
.cta-close[b-x28k3myjfn] {
  background: none;
  border: none;
  font-size: 1.5rem;
  position: absolute;
  top: 0.1em; right: 0.1em;
  cursor: pointer;
}

/* Show modal */
.cta-modal.active[b-x28k3myjfn] {
  display: flex;
  max-width: 540px;
  /*max-height: px;*/
  
}

/* Modal base styles */
.modal[b-x28k3myjfn] {
  opacity: 0;
  transform: translateY(20px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* Make sure it’s above other content */
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  opacity: 0;  
  max-width: 540px;
  height: auto;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* When modal is active */
.modal.show[b-x28k3myjfn] {
  opacity: 1;
  transform: translateY(0);
}

.section[b-x28k3myjfn] {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


.modal-backdrop[b-x28k3myjfn] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* dim effect */
    z-index: 998;
}


.modal-loading[b-x28k3myjfn] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    color: #555;
}

.spinner[b-x28k3myjfn] {
    width: 40px;
    height: 40px;
    border: 4px solid #ccc;
    border-top-color: #0078D7;
    border-radius: 50%;
    animation: spin-b-x28k3myjfn 0.8s linear infinite;
    margin-bottom: 1rem;
}

@keyframes spin-b-x28k3myjfn {
    to { transform: rotate(360deg); }
}


.pg-progress1[b-x28k3myjfn] {
		gap: 30px;
		background: transparent;
		backdrop-filter: blur(1px);
		border-radius: 12px;  
		/*border: 1px solid rgba(255, 255, 255, 0.2); */
		color: #f9f9f9;
		box-shadow: 0 8px 24px rgba(0,0,0,0.5);
		font-family: 'Segoe UI', sans-serif;
		max-width: 100%;
		margin: 10px auto;	
		padding-bottom: 10px;	
		text-align: center;
}


h1[b-x28k3myjfn], h2[b-x28k3myjfn] {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
 /* color: #741de1; /* or any accent color */
  /*margin-top: 2rem;*/
  
  color: #fff;  
  font-family: Monoton;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}


@media screen and (max-width: 600px) {
  .desktop[b-x28k3myjfn],
  .webApps[b-x28k3myjfn],
  .mobileApps[b-x28k3myjfn] {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  /* Responsive tweaks */

  .cta-content[b-x28k3myjfn] {
    padding: 1.5em;
	max-width: 400px;
  }
  
  .cta-modal[b-x28k3myjfn] {
	  width: 95%;
	  padding: 1rem;
	  border-radius: 8px;
  }
  
  .modal[b-x28k3myjfn] {
	  max-width: 400px;
  }

.myServicesPage[b-x28k3myjfn]	{
	margin-top: 3rem;
}
  .imgContainer[b-x28k3myjfn] {
	width: 95%;
}

.imgContainer img[b-x28k3myjfn] {
  width: 100%;
  height: auto;
  display: block;
  max-width: 600px; /* Optional: limits how large the image can grow */
  border-radius: 12px; /* Keeps your visual style */
  margin-bottom: 1rem;
}

  .textContainer[b-x28k3myjfn] {
    padding: 1rem;
    width: 100%;
  }

  h1[b-x28k3myjfn], h2[b-x28k3myjfn] {
    font-size: 2rem;
  }

  .textContainer h3[b-x28k3myjfn] {
    font-size: 1.2rem;
  }

  .textContainer p[b-x28k3myjfn] {
    font-size: 1rem;
	text-align: left;
  }

  i[b-x28k3myjfn] {
    font-size: 0.85rem;
	text-align: left;
  }

  .myServicesPage h2[b-x28k3myjfn] {
    margin: 2rem 1rem;
    font-size: 2.2rem;
  }

  .pg-progress1[b-x28k3myjfn] {
    padding: 16px;
    margin-bottom: 30px;
  }
}

/* /Pages/Skills.razor.rz.scp.css */
.mySkillsPage[b-213e1jmt4f], .desktop[b-213e1jmt4f], .webApps[b-213e1jmt4f], .mobileApps[b-213e1jmt4f] {
	/*position: relative;*/
	/*position: fixed*/
	top: 0;
	left: 0;
	
	padding: 1rem;
	background: #000;
    z-index: 1;
	
}

.mySkillsPage[b-213e1jmt4f]{
	display: flex;
	width: 100%;
	height: 100vw;
	backdrop-filter: blur(0px);
}

        /* Button styling */
.open-btn[b-213e1jmt4f] {
            padding: 10px 20px;
            background-color: #007BFF;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }

        /* Modal overlay styling */
.modal[b-213e1jmt4f] {
            display: none; /* Hidden by default */
            position: fixed;
            z-index: 1000;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
			padding:20px;
        }

        /* Modal content box */
.modal-content[b-213e1jmt4f] {
            background-color: #782e43;
            margin: 15% auto; /* 15% from top, centered horizontally */
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 400px; /* optional for responsiveness */
            border-radius: 8px;
            text-align: center;
            position: relative;
        }

        /* Close button */
.close-btn[b-213e1jmt4f] {
            color: #aaa;
            float: right;
            font-size: 24px;
            font-weight: bold;
            position: absolute;
            top: 10px;
            right: 15px;
            cursor: pointer;
        }

.close-btn:hover[b-213e1jmt4f] {
            color: black;
        }


h1[b-213e1jmt4f] {	
	height: 100px;	
}

.pg-progress[b-213e1jmt4f]{
	height: auto;
}



@media (max-width: 600px) {
  .mySkillsPage[b-213e1jmt4f]{
    flex-direction: column;
	margin-top: 3rem;
  }
  
}

