@inherits LayoutComponentBase
<div class="page">
	
    <main>
        <div class="top-row px-4">
			 <header class="navmenu">
			  <nav>
				<div class="nav-header">	

					<button class="menu-toggle" @onclick="ToggleMenu">
					  ☰
					  
					</button>
					@if(isMenuOpen == false){
						<a href="/" class="logo">Home</a>
					}
					</div> 
					
					<ul class="nav-links @(isMenuOpen ? "open" : "")">
					  <li><a href="/" >My Profile</a></li>
					  <li><a href="/ContactMe">Contact Me</a></li>
					  <li><a href="/Projects">Projects</a></li>
					  <li><a href="/Services">My Services</a></li>
					  <li><a href="/Skills">My Skills</a></li>
					</ul>			
			  </nav>
			</header>           
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code {
  private bool isMenuOpen = true;

  private void ToggleMenu()
  {
    isMenuOpen = !isMenuOpen;
  }
}