@page "/ContactMe"  

<PageTitle>Contact
    Me
</PageTitle>  



<section class="contact-hero">
  <h1> 📬 Let’s Build What Matters</h1>
  <h2>Whether you’re looking to collaborate, innovate, or just share ideas, I’d love to connect.</h2>
    <p>  
		As a Full-Stack engineer with a passion for high-performance   
        architecture and purposeful tech, I’m always eager to exchange thoughts with fellow creators, leaders, and visionaries.  
    </p>  
</section>

<section class="contact-grid">
<div class="contact-container">
	<div class="inviteMsg">
			
			<div>
				<p> <strong>“Great things are built through great conversations.”</strong>
					Feel free to reach out — whether it’s a challenge you’re solving, a system you’re optimizing,   
					or an idea that could help humanity thrive, I’m listening.</p>
			</div>			
	</div>
</div>

 <div class="card" style="width: 22rem;">  
    <div class="card-body">  
        <h5 class="card-title">Diamond Tshepho Moleba</h5>  
        <h6 class="card-subtitle mb-2 text-muted">Junior Software Developer</h6>  
        <p class="card-text">  
            <strong>Email:</strong>📩molebatshepho@gmail.com<br />  
            <strong>Phone:</strong> +27 60 291 6054<br />  
            <strong>Address:</strong> Soshanguve 0152, Pretoria , Gauteng, South Africa  
        </p>  
    </div>  
    
</div>  
</section>

<section class="contact-links">
  <a href="https://www.facebook.com/blackd.lepara" target="_blank" class="btns">
		<img src="Assets/Images/profile/facebook.png" alt="LinkedIn" class="icon">
		Facebook
  </a>
  <a href="https://www.linkedin.com/in/molebatshepho" target="_blank"  class="btns">
	 <img src="Assets/Images/profile/linkedin.png" alt="LinkedIn" class="icon">	
		LinkedIn</a>
  <a href="https://www.github.com/tshepho911" target="_blank" class="btns">
	 <img src="Assets/Images/profile/github.png" alt="LinkedIn" class="icon">
		GitHub
  </a>
 
<a href="https://www.codewars.com/users/Blackdiamond911" target="_blank"  class="btns">
	 <img src="Assets/Images/profile/codewars.jpg" alt="LinkedIn" class="icon">
		codewars
  </a>
	
</section>




@code {   

}